# 忽略掉所有的行政报告、开题答辩资料和旧模板
administrative_stuff/
WHUT-Bachelor/

# LaTeX 编译产生的中间垃圾文件
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.xml
*.bcf
*.synctex.gz
*.pdfsync
*.fdb_latexmk

# 操作系统生成的缓存文件
.DS_Store
Thumbs.db

# MATLAB/Simulink 产生的庞大缓存
slprj/
*.asv
